@charset "utf-8";

/*
GENERAL STYLING
================================================ */
html {
    font-size: 100%;
}
body {
    color: #455765;
    line-height: 20px;
    margin: 5%
  }


/*
LAYOUT
================================================ */
/* Layout */
.container {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 4rem;
    padding: 1rem 2.5rem 2.5rem;
}

/* Aside */
aside {
    width: 13%;
}

/* Main */
main {
    width: 80%;
    margin-bottom: 0;
}


/*
ASIDE
================================================ */
/* Side menu */
.side-menu {
    position: sticky;
    top: 1rem;
}


/*
BOX
================================================ */
.box1{
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #ffcb8a;
    border-radius: 3px 0 3px 0;
}
.box1:before,.box1:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #ffcb8a;
    border-radius: 50%;
}
.box1:after {
    top:-12px;
    left:-12px;
}
.box1:before {
    bottom:-12px;
    right:-12px;
}
.box1 p {
    margin: 0; 
    padding: 0;
}

